{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      
      <!-- {{ form|crispy }} -->
      <h1 class="text-center mb-2">You can <strong style="color: #F32A2E">contact us</strong> by</h1>
      <ul>
        <h3><strong style="color: #F32A2E">•</strong> Mail: 592 E Lambert Rd. Brea, CA 92821 <strong style="color: #F32A2E">USA</strong> 🇺🇸<br></h3>
        <h3><strong style="color: #F32A2E">•</strong> Local Phone / Fax: +1 (714) 532-1672<br></h3>
        <h3><strong style="color: #F32A2E">•</strong> Viber, Telegram, WhatsApp: +380734883075<br></h3>
        <h3><strong style="color: #F32A2E">•</strong> Email: <a href="mailto:abt.company@aol.com">abt.company@aol.com</a><br></h3>
        <h3><strong style="color: #F32A2E">•</strong> Instagram: <a style="text-align: center;" href="https://www.instagram.com/alex_casa_mentor">@alex_casa_mentor</a></h3>
        <h3><strong style="color: #F32A2E">•</strong> Facebook: <a style="text-align: center;" href="https://www.facebook.com/alex.casa.mentor">Alex Casa Mentor</a></h3>
        <h3><strong style="color: #F32A2E">•</strong> YouTube: <a style="text-align: center;" href="https://www.youtube.com/channel/UCnmcXGRyCR7AIhkZXPgRO_w/featured">Alex Casa Mentor</a></h3>
      </ul>
        

    </fieldset>
    <!-- <div class="form-group" style="text-align: center;"> -->

    <!-- <button class="btn btn-success mt-2" type="submit">Send</button> -->
    <div class="row">
      <div class="col-12 mt-5 mb-3" style="border: 2px red solid; border-radius: 15px;">
        <h2 class="text-center">
          <span style="color: #F32A2E">ABTco Online Investing School</span>
          предлагает вам стать нашим официальным представителем в вашем регионе. Комиссионное вознаграждение 30%.</h2>
        <h4 class="text-center">Условия сотрудничества по
          <span style="color: #F32A2E">запросу через email:
          </span>
          <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
        </h4>
      </div>
      <div class="col-12 mt-3 mb-3" style="border: 2px red solid; border-radius: 15px;">
        <h2 class="text-center">
          <span style="color: #F32A2E">ABTco Online Investing School</span>
          invites you to become our official representative in your region. Your commission: 30%.</h2>
        <h4 class="text-center">Terms of cooperation
          <span style="color: #F32A2E">can be obtained by email:
          </span>
          <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
        </h4>
      </div>
    
      <div class="col-12 mt-3 mb-3" style="border: 2px red solid; border-radius: 15px;">
        <h2 class="text-center">
          <span style="color: #F32A2E">ABTco Online Investing School</span>
          usted invita a convertirse en nuestro representante oficial en vuestra región. Vuestra comisión: 30%.</h2>
        <h4 class="text-center">Usted puede obtener las condiciones de la cooperación
          <span style="color: #F32A2E">por correo electrónico:
          </span>
          <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
        </h4>
      </div>
    
      <div class="col-12 mt-3 mb-3" style="border: 2px red solid; border-radius: 15px;">
        <h2 class="text-center">
          <span style="color: #F32A2E">ABTco Online Investing School</span>
          vous invite à devenir notre représentant officiel dans votre région. Votre commission: 30%.
          <h4 class="text-center">Les conditions de coopération peuvent être obtenues
            <span style="color: #F32A2E">par email:
            </span>
            <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
          </h4>
        </div>
      </div>
  {% endblock %}