{% extends 'main/base.html' %}

{% block content %}

  <h1 class="text-center" style="color: #21409A;">We can develop any software personally for you, your business or for your needs</h1>
  <h3 class="text-center mt-5" style="color: #21409A;">What can we do?</h3>

  <ul>
    <li>
      <h3>Any Telegram/Facebook/Instagram bot</h3>
    </li>
    <li>
      <h3>Any website</h3>
    </li>
    <li>
      <h3>Any desktop program/application</h3>
    </li>
    <li>
      <h3>Any android mobile application</h3>
    </li>
  </ul>

  <div class="text-center">
    <h3 class="mt-5">Price ranges from $300 to $300 000.</h3>
    <h3>Difficulty from very easy to very complex.</h3>
    <h3>Right now, we can create it in these 5 languages:<br>English 🇺🇸/🇬🇧, French 🇫🇷, Spanish 🇪🇸, Russian 🇷🇺, Ukrainian 🇺🇦.</h3>
  </div>

  <h3 class="mt-5 mb-5 text-center">Please contact our manager Teo by email
    <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
    or with
    <a href="/contact-us">Contact Us</a>
    form.
  </h3>

  <h1 class="text-center mt-5" style="color: #21409A;">We are selling right now:</h1>
  <h3 class="text-center" style="color: #21409A;">Additional information by email which is above.</h3>

  <ul>
    <li>
      <h3>4-Organizer - Price $49 999 -
        <a href="http://www.4organizer.com">www.4organizer.com</a>
      </h3>
    </li>
  </ul>

{% endblock %}