{% extends 'main/base.html' %}

{% block content %}

  <div class="bg-light" style="position: relative; width: col-10;">
    <span style="border-left: 2px solid #ED1C24; border-top: 2px solid #ED1C24; height: 40px; width: 40px; position: absolute; left: 0px; top: 0px;"></span>
    <p class="text-wrap" style="text-align: center;">
      Our projects:<br>
      4-Organizer — Unique program that sorts files by type. Developed by members of Junior Studio.<br>
      Currently we are working on 2 main projects, A-moov<br>
      A-Moov — Program that allow to send and receive files, from one computer, to another.<br>
      —<br>
      —<br>
      Above you can see the process of work of logo 4-Organizer:<br>
    </p>
    <span style="border-right: 2px solid #ED1C24; border-bottom: 2px solid #ED1C24; height: 40px; width: 40px; position: absolute; right: 0px; bottom: 0px;"></span>
  </div>
{% endblock %}