{% extends 'main/base.html' %}

{% block content %}

  <style>
    .btn-hover:hover {
      background-color: #ED1C24 !important;
      color: white !important;
    }
    .row a:hover {
      text-decoration: none;
      background-color: #ED1C24 !important;
      color: white !important;
    }
    .row a {
      border: 2px solid #ED1C24;
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;
      margin: 0 auto;
      color: #21409A;
      background-color: white;
    }
  </style>

  <div>
    <h1 class="mt-2" style="color: #21409A; text-align: center;">Currently under maintenance.</h1>

    <div style="text-align: center"></div>

  {% endblock %}