{% extends 'main/base.html' %}

{% block content %}

<h1 style="color: #f32a2e; font-size: 45px;" class="text-center">Reviews</h1>
<hr class="col-6 mx-auto">

<div class="mb-2">
<h4 class="text-break">Все ученики, при желании, могут добавить свой отзыв о курсе. <br>
Вы можете это сделать использую страницу <a href="/contact-us">contact-us</a>.<br>
<br>
Пожалуйста, сообщите нам следующую информацию:<br>
<span style="color: #f32a2e">•</span> Имя.<br>
<span style="color: #f32a2e">•</span> Email.<br>
<span style="color: #f32a2e">•</span> Оценка (от одного до десяти).<br>
<span style="color: #f32a2e">•</span> Отзыв.<br>
<span style="color: #f32a2e">•</span> Показывать ли ваш email-адрес.<br>
</h4>
</div>

<hr>

<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Украина, Одесса | Євгенія С.</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>8.5/10</h2></span>
<h4 class="text-break">Все чудово. Мені сподобалося книга ордерів, тепер я навчилася і можу передбачати недалеке майбутнє акції! Правило про власників компаній працює без винятків! Я вражена. Чуствую себе як oracle 😂🤣! Буду всім радити!</br>
yevgeniya.sotskaya.74@inbox.ru<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Barselona, España | María López</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>10/10</h2></span>
<h4 class="text-break">
Hola a todos! Quería decir que el curso es muy chulo! Voy a recomendarlo a todos mis amigos! Gracias, Alex Casa 😊!<br>
P. S.<br>
Tu español es muy profesional, Alex!<br>
mar******93**@gmail.com</h4>
</div>

<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>USA, LA | Владимир</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>9/10</h2></span>
<h4 class="text-break">Прекрасный курс. все по делу, без воды. изложено очень доступным языком.<br>
vladimirfedorenko@aol.com<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>USA, N.Y | Олеся Н. (Новикова)</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>10/10</h2></span>
<h4 class="text-break">Everything is OK! Thank you, Alex! 👍👍<br>
olesya.novikova72@aol.com<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Украина, Киев | OOO "Глобал Иншуранс", Сергей Петрович</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>10/10</h2></span>
<h4 class="text-break">info.*************@gmail.com<br></h4>
</div>

<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>USA, N.Y | "Sunrise" inc, Robert H.</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>8.8/10</h2></span>
<h4 class="text-break">Just great!!!!<br>
sunrise.incroberthar@aol.com<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Canada, Toronto | Elena Kotova</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>9/10</h2></span>
<h4 class="text-break">Здравствуйте, я много лет работаю бухгалтером в Канаде. Я решила попробовать себя в новой профессии. Все очень круто и просто. Тут нет понтов и пафосных терминов. Особенно мне понравилась тема "волшебные цифры".<br>
elenka.kotova.75@bk.ru<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Камерун, Яунде | Асер Н.</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>10/10</h2></span>
<h4 class="text-break">Merci beaucoup, Alex! Votre cours est très utile!<br>
aser*********@gmail.com<br></h4>
</div>




<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Украина, Киев | ООО "Guardian", Максим Г.</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>8/10</h2></span>
<h4 class="text-break">Здравствуйте, хочу порекомендовать этот замечательный курс по трейднгу и инвестированию. Это замечательный пример того, как надо преподавать! Стоит отметить, что манера изложения материала крайне доступна. Большое спасибо за такое прекрасный опыт! Спасибо, Максим.<br>
admi******dian@outlook.com<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Украина, Киев | OOO "Mobile Service", Александр П.</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>8/10</h2></span>
<h4 class="text-break">Доброго времени суток, дорогие друзья! Курс хороший, но немного задалбывали проблымы со входом в акаунт. К счастью, служба тех. поддержки помогла мне сбросить пароль и возобновить учебу. А так все хорошо. Всем рекомендую.<br>
mobi*****ice@gmail.com<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Украина, Днепр | Екатерина M.</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>10/10</h2></span>
<h4 class="text-break">Вау!😍😍мне очень понравился курс!!!!😊👍буду рекомендовать своим фоловерам и подружкам!😊👌думала что у меня не получиться но получилось😂❤️<br>
zay****9@ukr.net<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Россия, Москва | Владимир Д.</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>9/10</h2></span>
<h4 class="text-break">stre********@yandex.ru<br></h4>
</div>


<div class="col-12 m-4" style="border: solid 2px #F32A2E; border-radius: 10px;">
<h3>Bar, Montenegro | Safet K.</h3>
<span class="m-1 badge badge-danger" style="border-radius: 20px;"><h2>9/10</h2></span>
<h4 class="text-break">First of all, I would like to thank Alex, he is a very professional mentor and trader. I think about taking Alex's advanced course. And, I hope to make some money!<br>
saf*******ic@gmail.com<br></h4>
</div>


{% endblock %}