{% extends 'main/base.html' %}

{% block content %}


<style>
  .btn-hover:hover {
    background-color: #ED1C24!important;
    color: white!important;

}

a {
  color: #21409a;
}

p {
   margin: 0 auto!important;
}

 a:hover {
   color: white;
   text-decoration: none;
 }

  .btn-hover {
     border: 2px solid #ED1C24;
     text-decoration: none;
     padding: 10px;
     border-radius: 10px;
     width: 25%;
     color: #21409A;
     background-color: white;"
  }



</style>

<div class="container">
<div class="row">
<h1 style="text-align: center">По всем вопросам пишите почту: abt.company@aol.com</h1>
<h2 style="text-align: center">Или воспользуйтесь формой обратной связи "Contact Us".</h2>
</div>
</div>



{% endblock %}
