{% extends 'main/base.html' %}

{% block content %}

  <style>
    .btn-hover:hover {
    background-color: #ED1C24 !important;
    color: white !important;

  }

  a {
    color: #21409a;
  }

  p {
    margin: 0 auto !important;
  }

  a:hover {
    /* color: white; */
    text-decoration: none;
  }

  .btn-hover {
    border: 2px solid #ED1C24;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    color: #21409A;
    background-color: white;
    "

  }
</style>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">По всем вопросам пишите на почту: <a href="mailto:abt.company@aol.com">abt.company@aol.com</a></h1>
  </div>
  <div class="row">
    <h2 class="mx-auto">Или воспользуйтесь формой обратной связи "<a href="http://www.abtco.us/contact-us/">Contact us</a>".</h2>
  </div>
</div>



{% endblock %}