{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <h1 class="mt-2" style="border: 3px solid red; border-radius: 15px; color: #21409A; text-align: center; padding: 15px">Ми не навчаємо форекс, крипто та бінарні опціони!</h1>
  <h1 class="mt-2" style="color: #21409A; text-align: center;">Безкоштовні тестові уроки</h1>

  <style>
    img {
      width: 100%;
      max-width: 80%;
    }
    .noselect {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Old versions of Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
  </style>

  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок1укр1.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок1укр2.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок1укр3.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок1укр4.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок1укр5.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок1укр6.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок1укр7.jpg" %}"></div>

  <hr class="mt-5 mb-5">

  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок2укр1.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок2укр2.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок2укр3.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок2укр4.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок2укр5.jpg" %}"></div>

  <hr class="mt-5 mb-5">

  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок3укр1.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок3укр2.jpg" %}"></div>
  <div style="text-align: center" class="mt-4"><img src="{% static "ukr/урок3укр4.jpg" %}"></div>

  <hr style="color: #DF8479">

  <h2 style="text-align: center;" class="mt-2 mb-5">Для того, щоб продовжувати навчання, будь ласка, залиште запит у будь-якій зручній для вас формi:<br>

    <div class="row col-12">

      <div class="mx-auto mt-4 col-12 col-md-4 btn btn-info" style="background-color: #ED5C55">
        <a href="/contact-us" style="text-decoration: none; color: white;">Продовжити навчання</a>
      </div>
    </div>

    <div class="row col-12">
      <div class="mx-auto mt-2 col-12 col-md-4 btn btn-info" style="background-color: #DF8479">
        <a href="/t" style="text-decoration: none; color: white;">Умови навчання</a>
      </div>
    </div>

  </h2>

  <h2 style="text-align: center;" class="mt-2 mb-5">Електронна пошта для домашніх робіт:
    <strong>
      <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
    </strong>
  </h2>

  <h3 style="text-align: center;">Наш обліковий запис в Instagram:</h3>
  <div class="mt-2" style="line-height: 0; text-align: center">
    <a href="https://www.instagram.com/alex_casa_mentor">
      <h3 style="color: #21309a; text-align: center;" class="mt-3">@Alex_casa_mentor</h3>
    </a>
    <a style="text-align: center;" href="https://www.instagram.com/alex_casa_mentor"><img style="text-align: center; width: 30%;" src="{% static "instagram_alex_casa_mentor.jpg" %}"></a>
  </div>

  <h3 style="margin-top: 40px; text-align: center;">Наш обліковий запис в Tiktok:</h3>
  <div class="mt-2" style="line-height: 0; text-align: center">
    <a href="https://www.tiktok.com/@alex_casa_mentor">
      <h3 style="color: #21309a; text-align: center;" class="mt-3">@Alex_casa_mentor</h3>
    </a>

    <h3 style="margin-top: 40px; text-align: center;">Наш обліковий запис в Telegram:</h3>
    <div class="mt-2" style="line-height: 0; text-align: center">
      <a href="https://t.me/best_of_the_best_investor">
        <h3 style="color: #21309a; text-align: center;" class="mt-3">@best_of_the_best_investor</h3>
      </a>

      <h3 style="margin-top: 40px; text-align: center;">Наш обліковий запис в YouTube:</h3>
      <div class="mt-2" style="line-height: 0; text-align: center">
        <a href="https://www.youtube.com/channel/UCnmcXGRyCR7AIhkZXPgRO_w">
          <h3 style="color: #21309a; text-align: center;" class="mt-3">Alex Casa Mentor</h3>
        </a>

      {% endblock %}