{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <h1 class="mt-2" style="border: 3px solid red; border-radius: 15px; color: #21409A; text-align: center; padding: 15px">Not teaching Forex, Crypto and Binary options!</h1>
  <h1 class="mt-2" style="color: #21409A; text-align: center;">Trial lessons</h1>

  <style>
    img {
      width: 100%;
      max-width: 80%;
    }
    .noselect {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Old versions of Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
  </style>

  <div class="row mt-5">
    <div class="noselect col-11 col-sm-11 col-md-10" style="padding: 20px; background-color: #EAF3FA; margin-right: -1.3%"></div>

    <div class="col-1">
      <div style="background-color: #F32A2E; width: 100px; height: 40%"></div>
      <div style="background-color: #F14133; width: 100px; height: 20%"></div>
      <div style="background-color: #ED5C55; width: 100px; height: 20%"></div>
      <div style="background-color: #DF8479; width: 100px; height: 20%"></div>
    </div>
  </div>

  <hr style="color: #DF8479">

  <h2 style="text-align: center;" class="mt-2 mb-5">In order to continue studying, please leave a request in any convenient way for you:<br>

    <div class="row col-12">

      <div class="mx-auto mt-4 col-12 col-md-4 btn btn-info" style="background-color: #ED5C55">
        <a href="/contact-us" style="text-decoration: none; color: white;">Continue studying</a>
      </div>
    </div>

    <div class="row col-12">
      <div class="mx-auto mt-2 col-12 col-md-4 btn btn-info" style="background-color: #DF8479">
        <a href="/t" style="text-decoration: none; color: white;">Terms of studying</a>
      </div>
    </div>

  </h2>

  <h2 style="text-align: center;" class="mt-2 mb-5">Email for your homeworks:
    <strong>
      <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
    </strong>
  </h2>

  <h3 style="text-align: center;">Follow our Instagram account:</h3>
  <div class="mt-2" style="line-height: 0; text-align: center">
    <a href="https://www.instagram.com/alex_casa_mentor">
      <h3 style="color: #21309a; text-align: center;" class="mt-3">@Alex_casa_mentor</h3>
    </a>
    <a style="text-align: center;" href="https://www.instagram.com/alex_casa_mentor"><img style="text-align: center; width: 30%;" src="{% static "instagram_alex_casa_mentor.jpg" %}"></a>
  </div>

  <h3 style="margin-top: 40px; text-align: center;">Follow our Tiktok account:</h3>
  <div class="mt-2" style="line-height: 0; text-align: center">
    <a href="https://www.tiktok.com/@alex_casa_mentor">
      <h3 style="color: #21309a; text-align: center;" class="mt-3">@Alex_casa_mentor</h3>
    </a>

    <h3 style="margin-top: 40px; text-align: center;">Follow our Telegram account:</h3>
    <div class="mt-2" style="line-height: 0; text-align: center">
      <a href="https://t.me/best_of_the_best_investor">
        <h3 style="color: #21309a; text-align: center;" class="mt-3">@best_of_the_best_investor</h3>
      </a>

    {% endblock %}