{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <h1 class="mt-2" style="border: 3px solid red; border-radius: 15px; color: #21409A; text-align: center;">Nous n'enseignons pas les Forex, les Crypto et les options Binaires!</h1>
  <h1 class="mt-2" style="color: #21409A; text-align: center;">Les leçons gratuits</h1>

  <style>
    img {
      width: 100%;
      max-width: 80%;
    }
    .noselect {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Old versions of Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
  </style>

  <div class="row mt-5">
    <div class="noselect col-11 col-sm-11 col-md-10" style="padding: 20px; background-color: #EAF3FA; margin-right: -1.3%">

      <p>
        Trading pour les débutants.<br>Connaissances de base.<br>Leçon 1. Comment ça marche.
      </p>
      <p>
        Ce cours s'adresse à ceux qui souhaitent se familiariser avec le travail des bourses de New York et de Londres, les plus importantes et les plus recherchées au monde. Depuis de nombreuses années, une opinion erronée s'est développée (notamment grâce
        à l'industrie cinématographique) selon laquelle seule une personne jeune, très réactive, généralement un homme, peut négocier en bourse - c'est une opinion FAUSSE. Tout le monde peut trouver sa place dans le trading, indépendamment de son âge et de
        son genre. Je suis sûr que vous le verrez bientôt par vous-même. J'ai une "étudiante" qui a eu 79 ans cette année, tout va bien pour elle, elle est en pleine forme, a un excellent portefeuille (une collection d'actions qualitative) et son statut sur
        Facebook et Instagram pour aujourd'hui est la liberté!
      </p>
      <p>
        Personnellement, je pense que le trading est très similaire à la pêche, où vous passez de nombreuses heures à regarder et à attendre une touche, et bien sûr du ferrage :) Mais tout comme la pêche, l'attente et la patience sont toujours récompensées!
      </p>
      <p>
        Eh bien, commençons! Tout d'abord, quelques mots sur moi: je m'appelle Alex, je suis propriétaire et fondateur de l'école en ligne "ABTco-Trading School" et je suis l’auteur de ce cours. Aussi, je négocie aux bourses de New York et de Londres pendant
        environ 10 ans et j'ai passé plusieurs milliers d'heures à observer le comportement des actions en temps réel (et bien sûr à gagner de l'argent).
      </p>
      <p>
        Tous les conseils pratiques et les recommandations que vous recevrez dans ces cours sont les résultats individuels après des nombreuses années d'expérience. Probablement, vous vous demanderez, pourquoi est-ce que je fais cela? Absolument logique
        comme question, si chez vous, monsieur, tout va bien, vous gagnez de l'argent, vous avez de l'expérience, pourquoi perdriez-vous votre temps sur ces leçons? Je réponds: il y a longtemps, j'étais au début de mon chemin, j'ai lu des livres sur la
        finance et le trading, puis j’ai fait des erreurs dans la pratique; à cause d'erreurs j'ai perdu de l'argent. Après j'ai à nouveau rassemblé des connaissances, et suis de nouveau retomber sur des erreurs dans la pratique (personne n'est parfait,
        n’est-ce pas?). Alors, presque tout le temps, dans les intervalles entre les erreurs, j'ai crié: pourquoi??? Pourquoi personne ne me l’avais dit???!!! Si je savais... si j'avais été prévenu... j'aurais sûrement fait... Et ainsi de suite :) Par
        conséquent, maintenant, j'ai décidé de devenir exactement la personne qui conseille, raconte et avertit.
      </p>
      <p>
        Et oui, j'adore enseigner et je suis prêt à le faire pour tout le monde, et en particulier pour les personnes d'âge de 50 et plus pour de l’argent symbolique qui couvre seulement une partie des frais administratifs de l'école.
      </p>
      <p>
        J'ai des connaissances et une excellente équipe, et nous sommes prêts à partager notre expérience avec vous et à vous aider à maîtriser le métier le plus intéressant et indépendant au monde: le TRADING. Il convient de noter que je travaillais dans
        différents domaines de business et que j'ai personnellement réalisé qu'aucune des autres activités ne peut vous faire autant plaisir et de profit que pourrait le faire “sa Majesté la Bourse”. C'est probablement pourquoi tous les traders du monde la
        respectent.
      </p>
      <p>
        Je recommande à tous mes étudiants de ne pas avoir peur, ou du moins, essayons de ne pas avoir peur. Ouvrir un petit compte avec un broker fiable et commencer à avancer vers la liberté à petits pas. Et c'est l'un des premiers secrets ou expériences,
        peu importe comment vous l'appelez, mais le compte doit être vraiment petit (commencez avec deux ou trois mille dollars) et les étapes petites; c'est le début d'un chemin réussi. Je vous propose de cesser de dépendre des pensions de retraite et de
        l’État et d’obtenir une certaine liberté. Vous et moi savons très bien que personne, à part nous, ne prendra soin de nous, en particulier des personnes âgées de 50 ans et plus, car pour le système, nous sommes de petits "rouages" ​inutiles. Par
        conséquent, nous allons étudier, maîtriser le marché des valeurs mobilières, devenir financièrement compétents et riches!
      </p>
      <p>
        Nous serons très reconnaissants si vous invitez amis, membres de famille et proches à nous aider à remplir notre mission!!!
      </p>
      <p>
        Vous allez réussir! Un peu de connaissances et de patience! Et également, bonne chance!
      </p>
      <p>
        TRAVAIL DES BOURSES.
      </p>
      <p>
        Il existe trois principales bourses aux Etats-Unis, elles sont:
      </p>
      <p>
        NYSE — New York Stock Exchange NASDAQ — National Association of Securities Dealers Automated Quotations AMEX — American Stock Exchange
      </p>
      <p>
        NYSE - La Bourse de New York est la plus ancienne et la plus grande bourse des États-Unis. Elle est située à Wall Street en contrebas de New York.
      </p>
      <p>
        NASDAQ — National Association of Securities Dealers Automated Quotations. Fondée en 1971 contrairement à celle de NYSE, elle n'a pas d'emplacement physique. Elle est un système électronique de négociation d'actions entièrement automatisée.
      </p>
      <p>
        AMEX - American Stock Exchange, la troisième plus grande bourse américaine. Fondée en 1921, elle représente 10% du total des transactions boursières en Amérique. Situé près de NYSE.
      </p>
      <p>
        Il y a une bourse principale en Angleterre - LSE, l'une des plus anciennes au monde. Elle a été fondée en 1801 et est aujourd'hui la plus multinationale du monde. Plus de cinquante pour cent des transactions boursières internationales se déroulent
        précisément à la Bourse de Londres. Je crois que cette bourse est l'une des plus intéressantes pour le trading, puisque pour certains instruments (nous découvrirons de quoi il s’agit plus tard) la bourse demande juste 10% de leur valeur!
      </p>
      <p>
        <div style="text-align: center"><img src="{% static "image2.jpg" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>
      </p>
      <p>
        Pour commencer à trader sur NYSE, NASDAQ, AMEX & LSE, en plus de votre désir, vous aurez besoin de: - un ordinateur, et puis il vaudra mieux avoir deux ou trois ordinateurs (comme dans la capture d'écran ci-dessus) avec un processeur minimum de 2-4
        Ghz; 4 cœurs ou plus, RAM de 4GB+. Tout ce qui précède peut-être remplacé par deux ou trois ordinateurs portables; - le prochain point qui est d’ailleurs très important est: une bonne et ininterrompue connexion à internet (la chose la plus importante
        ici est une connexion ininterrompue, c’est notre tout!!!); - un petit compte d'environ 3 mille dollars; - vous devez avoir plus de 18 ans.
      </p>
      <p>
        Sur la bourse, vous pouvez négocier divers instruments financiers, y compris des actions. Voyons maintenant ce qu'est une action. Une action est un instrument financier unique (en général, tout ce qui est négocié en bourse - futures, CFD, options,
        actions, bonds - est appelé un instrument financier). Avez-vous déjà pensé que tout ce qui est autour de vous, tout ce que vous utilisez avec succès, votre cafetière, station-service, avion, voiture de location, marché alimentaire, pharmacie, etc.
        toutes ces choses sont des actions de quelqu'un. Et après avoir appris à comprendre comment cela fonctionne, en tant qu’un trader, vous aurez une occasion unique de devenir copropriétaire des actions de ces corporations. Et aussi la possibilité de
        recevoir des revenus en ligne supplémentaires et stables tout en se trouvant n'importe où dans le monde. Il existe deux façons de gagner de l'argent en bourse: en négociant pour augmenter le prix des actions ou en négociant pour les diminuer.
        Examinons de plus près ces deux méthodes.
      </p>
      <p>
        Trade à la augmentation - un trader achète d'abord une action, dans l'espoir de la vendre plus tard à un prix plus élevé. Lorsqu'un trader a payé son argent et acheté une action, on dit qu'il a une position longue ou “long position”. Si le trader
        avait raison, alors le prix de l'action a augmenté et il vaut maintenant plus que ce que le trader a payé. Dans ce cas, ils disent que c'est une position dans l'argent, le trader gagne déjà de l'argent dessus. Cependant, à ce moment, c'est juste de
        l'argent virtuel. Il peut partir aussi facilement qu'il est venu. Le trader à ce moment a une position ouverte ou “opened position”. Pour recevoir de l'argent réel, il doit la fermer, c'est-à-dire vendre toutes ses actions.
      </p>
      <p>
        Les positions longues sont fermées par la vente d'actions. La différence entre le prix d'achat et le prix de vente est votre profit.
      </p>
      <p>
        Le trade à la baisse - un trader vend d'abord des actions (qu'il n'a pas à ce moment), dans l'espoir de les acheter plus tard à un prix inférieur.
      </p>
      <p>
        Pour vendre des actions que vous n'avez pas, vous devez d'abord les emprunter à quelqu'un. Les traders empruntent généralement des actions à leur broker dont ils utilisent la plateforme de trading. Tout ce processus est automatique.
      </p>
      <p>
        Vous avez donc emprunté des actions à votre broker et les avez vendues en bourse. À ce stade, vous avez une position courte ou “short position”. N'oubliez pas que vous prêtez des actions pour un temps et que vous devez les retourner à votre broker
        plus tard. Pour ce faire, vous devez acheter les mêmes actions sur la bourse à un moment donné. Si vous avez raison et que le prix de l'action commence à baisser, vous pouvez l'acheter moins cher qu’il ne l’était. La différence entre le prix de vente
        et le prix d'achat est votre profit. Ainsi, les positions courtes sont fermées par l'achat d'actions.
      </p>
      <p>
        Ce sont toutes les informations de la première leçon, j'espère qu'elles ont été intéressantes et utiles pour vous. Dans la prochaine leçon, nous nous familiariserons avec l'un des portails les plus pratiques pour la sélection d'actions - finviz.com
      </p>
      <p>
        Cette ressource présente quelques-uns des filtres les plus “puissants” qui peuvent être utilisés pour travailler sur la bourse américaine, et nous les étudierons prochainement .
      </p>
      <p>
        Dans la prochaine leçon, vous apprendrez des informations sur le trading encore plus intéressantes et secrètes.
      </p>
      <p>
        En guise de devoir, faisons une session de feedback: vous me parlerez de vous, ce que vous jugez nécessaire, ce qui vous a amené au trading, quelles qualités vous avez qui sont nécessaires pour trader à votre avis, et quelles qualités vous manque.
        Quelles sont vos impressions à la suite de la première leçon, avez-vous des difficultés, des malentendus, des questions? Écrivez-moi à propos de tout cela par email: abt.company@aol.com À mon tour, j'apprendrai avec plaisir à connaître l'ensemble du
        groupe; je suis très intéressé de savoir pourquoi vous êtes ici, quelles sont vos attentes de ce cours, je répondrai à toutes vos questions, vous expliquerai les difficultés si vous en avez, et vous serez prêt pour la deuxième leçon.
      </p>
      <p>
        Merci beaucoup, j'attends vos lettres avec impatience. Alex.
      </p>

      <br>
      <br>
      <hr>
      <br>
      <br>

      <p>
        Trading pour les débutants. Connaissances de base.<br>
        Leçon 2. L'information: où l'obtenir et comment la rechercher.
      </p>
      <p>
        Bonjour chers débutants, et bientôt des traders prospères! C'était formidable de recevoir vos réponses et de mieux vous connaître. Il s'avère que nous avons un groupe très intéressant! C'est super que nous ayons autant de personnes de professions et
        de tempéraments différents, et encore mieux, que vous soyez tous unis par un intérêt pour le trading, de nouvelles opportunités et expériences. Ensemble, nous ferons ce voyage et vivrons ce cours de manière profitable. Je vous suis reconnaissant
        d'être venu; apprenez, découvrez de nouvelles choses et n’ayez pas peur d'élargir vos horizons. Le chemin se fait en marchant! Commençons!
      </p>
      <p>
        Aujourd'hui, nous examinerons l'une des ressources les plus pratiques, utiles, simples et gratuites pour l'observation et la sélection des stocks, c'est finviz.com. Tout le monde a besoin d'informations, sans cela, nous sommes des chatons aveugles,
        et Finviz nous aidera à être totalement prêts.
      </p>
      <p>
        Pour commencer, je vous propose de taper dans la barre d'adresse de votre navigateur (Chrome, Firefox, Safari, Edge, Opera, etc.) - “finviz.com” et après le chargement de cette page, vous verrez un site beau et lumineux.
      </p>
      <p>
        Quelles informations nous donne Finviz? Très nécessaires et utiles pour toutes les traders: indices boursiers, actions actives, sector map, moteur de recherche (Screener). De quoi s'agit-il, où le regarder et comment l'utiliser, nous allons
        maintenant l'examiner en détail. Trois graphiques indépendants apparaîtront en haut de la page - ce sont les indices des bourses principales. Nous avons parlé du sujet de bourses à la première leçon. Ci-dessous, sous ces graphiques, la ressource
        Finviz affiche deux colonnes d'informations. La première colonne concerne ceux qui sont cool aujourd'hui (Top Gainers), et la seconde, ceux qui gèrent mal leur entreprise (Top Losers).
      </p>
      <p>
        Regardons sur la capture d'écran numéro 1:
        <div style="text-align: center"><img src="{% static "image1.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>
      </p>
      <p>
        Il s'agit d'une information quotidienne très importante, car il y a beaucoup d’«yeux» des traders et des investisseurs qui observent ces entreprises.
      </p>
      <p>
        Toutes ces actions sont automatiquement convertis des actions régulières aux actions actives. Ces actions reçoivent un volume de ventes complètement différent en une seule séance de négociation, bien plus que ce qu'elles ont habituellement. Et donc
        elles deviennent l'objet de notre observation.
      </p>
      <p>
        Par exemple, ci-dessous, sur capture d'écran #2, j'ai marqué pour vous l’action active NVDA (NVIDIA Corporation) qui se trouve dans la deuxième colonne de Finviz, qui a été rapporté le 15 novembre 2018 et après un mauvais rapport, est tombée de 40$.
        <div style="text-align: center"><img src="{% static "image6.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>
      </p>
      <p>
        Il me semble que beaucoup de personnes ce jour-là ont subi d'énormes pertes financières.
      </p>
      <p>
        Nous surveillons cette entreprise depuis les premiers jours d'octobre et, par conséquent, nous avons pu gagner de l'argent décent en une journée. C'était un trade correct, planifié et réussi.
      </p>
      <p>
        La majeure partie de l'argent que gagnent les traders provient des actions actives du jour.
      </p>
      <p>
        D'où vient la prévision d'effondrement de la NVDA après la publication du rapport, nous pourrons en discuter plus en détail dans les prochaines leçons. Et maintenant, examinons plus en détail les capacités de la ressource Finviz. Voir la capture
        d'écran numéro 3 ci-dessous.
        <div style="text-align: center"><img src="{% static "image5.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>
      </p>
      <p>
        Dans le coin inférieur droit de Finviz, il y a une carte interactive (ou “interactive map”) de tous les secteurs commerciaux de la bourse, dans laquelle vous trouverez toutes les grandes entreprises américaines; et il y en a beaucoup – 7583 et ce
        chiffre change constamment.
      </p>
      <p>
        Cette carte pratique et dynamique change constamment de couleur selon qui est en tête aujourd'hui: taureaux ou ours (nous considérerons également qui sont ces «animaux» dans les prochains leçons).
      </p>
      <p>
        Parce qu' il s'agit d'une ressource énorme, essayez d'abord de vous balader sur le site. Je pense qu'il sera intéressant pour vous de toucher et de ressentir toutes ces immenses capitaux d'Amérique.
      </p>
      <p>
        Sous la barre de recherche, dans le coin gauche, il y a de nombreux boutons utiles. Vous pouvez les voir sur l'écran au numéro 4:
        <div style="text-align: center"><img src="{% static "image8.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>
      </p>
      <p>
        Home, News, Screener, Maps, Groups, Portfolio, Insider, Futures, Forex, Crypto, Backtests. Nous examinerons de plus près le bouton “Screener”. Pourquoi en avons-nous besoin?
      </p>
      <p>
        Car grâce à cet outil, nous sélectionnons les actions à négocier à l'aide d'un ensemble de filtres.
      </p>
      <p>
        Maintenant, essayons-le en cliquant sur le bouton Screener.
      </p>
      <p>
        Après y avoir cliqué, un onglet s'ouvrira avec un ensemble minimum de filtres de recherche différents.
      </p>
      <p>
        Passons maintenant à l'écran numéro 5:
        <div style="text-align: center"><img src="{% static "image4.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>
      </p>
      <p>
        Sur la capture d'écran 5, nous voyons l'ensemble minimum de filtres requis pour rechercher des actions. Cet ensemble nous permet de sélectionner des actions selon les critères suivants: la bourse sur laquelle la compagnie négocie, ce qu’elle fait,
        dans quel secteur elle se situe, sa prix et volume.
      </p>
      <p>
        Maintenant, nous considérons le minimum qui s'est ouvert à nous, en fait, il y a beaucoup plus de paramètres pour la sélection et la recherche des actions. Nous continuerons à les étudier dans la prochaine leçon.
      </p>
      <p>
        En tant que devoir, essayez de trouver la section “ALL” et voyez quels filtres elle vous propose. Laissez vos yeux commencer à s'habituer à l'abondance des informations.
      </p>
      <p>
        Et puis, dans la prochaine leçon, vous serez prêt à commencer à travailler avec ces filtres avancés et à ne pas vous perdre dans les capacités de recherche.
      </p>
      <p>
        Pour aujourd'hui, c`est tout. Regardez, lisez, explorez, expérimentez. Tendez votre cerveau!
      </p>
      <p>
        Toutes vos impressions, tout ce que vous voulez partager, j'accepte toujours à cet adresse: abt.company@aol.com
      </p>
      <p>
        Difficultés, incompréhensibilités, ainsi que toutes vos questions, nous en discuterons certainement!
      </p>
      <p>
        Rendez-vous dans la prochaine leçon! Alex.
      </p>

      <br>
      <br>
      <hr>
      <br>
      <br>

      <p>
        Trading pour les débutants. Connaissances de base.
      </p>
      <p>
        Leçon 3. Filtres avancés — grandes opportunités.<br>
        Je suis heureux de voir tout le monde dans notre école! Bonjour tout le monde!
      </p>
      <p>
        Beaucoup de questions ont peut-être surgi après la leçon précédente et c'est super!
      </p>
      <p>
        Cela signifie que vous regardez, analysez, commencez à comprendre la bourse - cela me plaît à l'infini! Je vous suis reconnaissant pour votre activité et votre diligence. Je pense que n'importe qui dans ma position serait heureux d'avoir de tels
        étudiants. Mais puisque c'est moi qui ai eu la chance de travailler avec vous, continuons! Dans cette leçon, nous verrons comment travailler avec des filtres avancés pour rechercher des actions sur une ressource finviz.
      </p>
      <p>
        Pour ouvrir l'ensemble maximum de filtres, vous devez trouver la section ALL en haut de la page et cliquez dessus. Capture d’Écran numéro 1:
        <div style="text-align: center"><img src="{% static "image9.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

        Après cela, vous aurez accès à un ensemble complet de tous les filtres nécessaires pour un trader ou un investisseur. Capture d’Écran numéro 2:
        <div style="text-align: center"><img src="{% static "image7.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

        Avant de commencer la recherche des actions, vous devez vérifier et activer certains paramètres de filtrage: 1. Dans la colonne “Index”, sélectionnez “Index S&P 500” — vous verrez une liste des compagnies les plus riches et les plus «pur-sang» du
        marché. En règle générale, les entreprises de cette liste ont une forte capitalisation, une réputation positive, elles négocient selon les règles du marché ou essaient de le faire. Aussi, les compagnies du S&P 500 ont un volume de ventes quotidien
        assez grand ainsi qu'un bon mouvement de stock, ce qui permet à un trader de gagner de l'argent. Ceci est important, car un stock qui reste immobile ou bouge de quelque cents est considéré comme un "action mort" et un trader ne peut pas gagner de
        l'argent sur un tel stock. 2. Suivant, dans l'élément “Country”, sélectionnez les États-Unis, car les stocks d'autres pays et d'autres continents peuvent se comporter de manière inadéquate, vous devez donc être prudent avec eux ou avoir une
        expérience suffisante.
      </p>
      <p>
        3. Après cela, dans la colonne “Price”, sélectionnez le prix de l'action, je vous recommande de regarder au-dessus de 10 $, mais si vous êtes intéressé par l'observation des actions à faible coût, comment elles se comportent pendant la séance de
        trading, regardez, observez et faites leurs conclusions. Je suis sûr que vous verrez beaucoup de choses intéressantes. 4. Allez à la section Passer le cours de l'action par jour - ATR (Average True Range) - nous prenons plus de 1 $, ce qui signifie
        que l'action bouge de plus d'un dollar dans un sens ou dans l'autre pendant la séance de trading, ce qui permet à un trader de gagner beaucoup d'argent, nous en avons discuté ci-dessus, vous vous souvenez du mouvement de stock? Par conséquent, nous
        choisissons plus de 1 $.
      </p>
      <p>
        5. Et enfin, allez à la section volume quotidien des ventes - Current volume - nous mettons plus que 2 millions d'actions, car avec un volume de ventes d'actions grands, un niveau quotidien de support et de résistance se forme. Ce sont les deux
        concepts les plus importants du trading, nous les étudierons séparément et en détail lors des prochaines leçons. Après avoir défini tous les paramètres ci-dessus, le système vous montrera 100-150 bons stocks.
      </p>
      <p>
        En cliquant davantage sur le ticker (nom abrégé de la compagnie), une nouvelle fenêtre s'ouvrira avec un graphique et des informations détaillées ouvertes sur la compagnie que vous avez sélectionnée. De nombreuses découvertes intéressantes vous
        attendent ici, car les informations qui sont aux yeux de tous, avec une analyse correcte, peuvent vous indiquer le sens du mouvement des stocks. Je vais vous montrer les endroits secrets, où chercher pour voir des informations précieuses non
        disponibles pour les non-initiés au cours des leçons suivantes. Capture d’Écran numéro 3
        <div style="text-align: center"><img src="{% static "image3.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

        Ce sont toutes les informations de la troisième leçon, j'espère que tout était clair pour vous et que vous avez reçu de nouvelles connaissances intéressantes pour vous.
      </p>
      <p>
        En guise de devoir, je vous demanderai de travailler avec les filtres de sélection des actions, de choisir les plus intéressants, à votre avis. Aussi, je vous demande de prendre des captures d'écran des deux actions que vous avez choisies et de
        décrire (expliquer) pourquoi vous les avez aimées, pourquoi vous vous êtes arrêtées sur elles. J'attends vos réponses, il est très intéressant de regarder votre choix et d'en discuter avec vous. Comme avant, j'attends une lettre par l’adresse:
        abt.company@aol.com Et ici, j'ai deux nouvelles pour vous: nous avons réussi les trois premières leçons gratuites - c'est la première nouvelle.
      </p>
      <p>
        Si cela vous a plu, vous êtes intéressé par notre cours, vous souhaitez poursuivre l'éducation et êtes prêt à payer pour cela - il y a une telle opportunité! Et ceci est la deuxième nouvelle. Vous pouvez payer le cours directement sur cette page,
        ci-dessous, en utilisant le bouton BUY NOW.
      </p>
      <p>
        Il vous sera facile et confortable d'effectuer une opération de paiement, toutes les cartes sont acceptées pour le paiement, les paiements sont absolument sécurisés, il vous suffit de remplir le formulaire et toutes les autres actions sont effectuées
        automatiquement, tous les paiements sont effectués via PayPal. Après paiement, vous continuerez à accéder aux cours selon l'horaire précédent. Que se passera-t-il ensuite au cours? Je vais lister pour vous les sujets que nous examinerons afin que
        vous puissiez avoir une idée de ce qui vous attend lors des leçons suivants:
      </p>
      <p>
        Actions et leurs caractéristiques, qu'est-ce que le reporting et comment l'utiliser, contrats à terme, fonds, volumes et spread.
      </p>
      <p>
        Formule pour former une position sûre ou comment se protéger des pertes. Amis parmi les actions - pourquoi sont-ils à un trader et que faire avec eux.
      </p>
      <p>
        Apprendre à lire le livre de commandes et le ruban — est l'une des compétences les plus importantes et comment cela peut sauver un trader. Les bases du trading - support et résistance, comment travailler avec eux.
      </p>
      <p>
        Propriétaires d'entreprise — comment être amis avec eux et ce qu'ils peuvent nous dire. Psychologie et magie des nombres - comment les utiliser pour votre profit. Comment trouver le sens du mouvement des actions et qui nous y aidera. Faire une
        prévision précoce - comment cela fonctionne. Comme vous pouvez le voir, le programme est très riche et ce n'est pas une liste complète de tout ce que nous allons étudier.
      </p>
      <p>
        Je n'exprimais pas tous les thèmes simplement pas certains points, en raison de leur caractère secret et exclusif. Mais je promets - ce ne sera pas ennuyeux, vous ne le regretterez pas! Je veux remercier tout le monde d'être venu chez nous, d'avoir
        passé votre temps et d'essayer de plonger dans le monde du trading. Pour ceux qui ne continuent pas avec nous: merci beaucoup d'avoir essayé, étudié, montré de l'intérêt. Peut-être que le style de présentation du matériel ne vous convenait pas,
        peut-être qu'à ce stade vous vous êtes rendu compte que cette activité ne vous intéressait pas du tout, peut-être que vos plans ont simplement changé. Nous serons heureux si vous partagez TOUTES vos impressions avec nous. Ce que vous n’avez pas aimé,
        quelle était la raison pour laquelle vous refusez d'une formation complémentaire. Peut-être que nous devons réparer quelque chose. Nous serons très reconnaissants de vos commentaires! Nous les attendons par l’adresse: abt.company@aol.com
      </p>
      <p>
        Pour ceux qui restent dans notre équipe:
      </p>
      <p>
        Merci de continuer à étudier et de progresser vers votre objectif, je suis sûr que nous pourrons parvenir à un résultat digne. Jusqu'à la prochaine leçon, Alex.
      </p>

    </div>

    <div class="col-1">
      <div style="background-color: #F32A2E; width: 100px; height: 40%"></div>
      <div style="background-color: #F14133; width: 100px; height: 20%"></div>
      <div style="background-color: #ED5C55; width: 100px; height: 20%"></div>
      <div style="background-color: #DF8479; width: 100px; height: 20%"></div>
    </div>
  </div>

  <hr style="color: #DF8479">

  <h2 style="text-align: center;" class="mt-2 mb-5">Pour continuer à étudier, veuillez laisser une demande de la manière qui vous convient:<br>

    <div class="row col-12">

      <div class="mx-auto mt-4 col-12 col-md-4 btn btn-info" style="background-color: #ED5C55">
        <a href="/contact-us" style="text-decoration: none; color: white;">Continuer à étudier</a>
      </div>
    </div>

    <div class="row col-12">
      <div class="mx-auto mt-2 col-12 col-md-4 btn btn-info" style="background-color: #DF8479">
        <a href="/t" style="text-decoration: none; color: white;">Conditions d'étude</a>
      </div>
    </div>

  </h2>

  <h2 style="text-align: center;" class="mt-2 mb-5">Email pour vos devoirs:
    <strong>
      <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
    </strong>
  </h2>

  <h3 style="text-align: center;">Notre Instagram account:</h3>
  <div class="mt-2" style="line-height: 0; text-align: center">
    <a href="https://www.instagram.com/alex_casa_mentor">
      <h3 style="color: #21309a; text-align: center;" class="mt-3">@Alex_casa_mentor</h3>
    </a>
    <a style="text-align: center;" href="https://www.instagram.com/alex_casa_mentor"><img style="text-align: center; width: 30%;" src="{% static "instagram_alex_casa_mentor.jpg" %}"></a>
  </div>

  <h3 style="margin-top: 40px; text-align: center;">Notre Tiktok account:</h3>
  <div class="mt-2" style="line-height: 0; text-align: center">
    <a href="https://www.tiktok.com/@alex_casa_mentor">
      <h3 style="color: #21309a; text-align: center;" class="mt-3">@Alex_casa_mentor</h3>
    </a>

    <h3 style="margin-top: 40px; text-align: center;">Notre Telegram account:</h3>
    <div class="mt-2" style="line-height: 0; text-align: center">
      <a href="https://t.me/best_of_the_best_investor">
        <h3 style="color: #21309a; text-align: center;" class="mt-3">@best_of_the_best_investor</h3>
      </a>

    {% endblock %}