{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <h1 class="mt-2" style="border: 3px solid red; border-radius: 15px; color: #21409A; text-align: center; padding: 15px">¡No estamos enseñando Forex, Crypto y opciones binarias!</h1>
  <h1 class="mt-2" style="color: #21409A; text-align: center;">Lecciones gratis</h1>

  <style>
    img {
      width: 100%;
      max-width: 80%;
    }
    .noselect {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Old versions of Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
  </style>

  <div class="row mt-5">
    <div class="noselect col-11 col-sm-11 col-md-10" style="padding: 20px; background-color: #EAF3FA; margin-right: -1.3%">

      <p>
        Trading para debutantes. Conocimientos básicos. Lección 1. ¿Cómo funciona?
      </p>
      <p>
        Este curso está diseñado para aquellos que deseen conocer el trabajo de las bolsas de valores de Nueva York y Londres, las más grandes y visitadas del mundo. Durante muchos años, se ha desarrollado una opinión errónea (incluso gracias a la industria
        cinematográfica) de que solo una persona joven y de acción rápida, generalmente un hombre, puede comerciar en la bolsa de valores; esta es una opinión ERROR. TODOS pueden encontrar su lugar en el comercio, independientemente de la edad y el género.
        Estoy seguro de que pronto lo verás por ti mismo. Tengo un "estudiante", que cumplió 79 años este año, está bien, está en muy buena forma, tiene una excelente cartera (un conjunto de acciones de calidad) y escribe en Facebook y Instagram que su
        estado actual es ¡Libertad!
      </p>
      <p>
        Personalmente, me parece que el comercio es muy similar a la pesca, donde pasas muchas horas observando y esperando un bocado, así como ganchos). Pero, como en la pesca, la espera y la paciencia siempre son recompensadas!
      </p>
      <p>
        Bueno, vamos a empezar! Primero, un poco de mi: mi nombre es Alex, Soy el dueño y fundador Escuela en línea "ABTco-Trading School"
      </p>
      <p>
        y el autor de estas lecciones, he estado negociando en las bolsas de Nueva York y Londres durante unos diez años y pasé varios miles de horas observando el comportamiento de las acciones en tiempo real (y, por supuesto, ganando dinero).
      </p>
      <p>
        Todos los consejos prácticos y recomendaciones que recibirá en estas lecciones son el resultado de MI PERSONAL muchos años de experiencia. Lo más probable es que tenga una pregunta, ¿por qué estoy haciendo esto? Absolutamente lógico, por cierto, si
        usted, muchacho, está bien, gana dinero, tiene experiencia, ¿por qué debería perder su tiempo en estas lecciones? Respondo: hace mucho tiempo, estaba al comienzo del viaje, leía libros sobre finanzas y comercio, luego rellenaba conos en la práctica,
        perdía dinero debido a errores, luego recopilaba conocimientos nuevamente, volvía a practicar golpes (¿no hay nadie perfecto, verdad?) . Entonces, casi todo el tiempo, en los intervalos entre los conos de relleno, grité: ¿por qué? ¿Por qué nadie me
        dijo esto? Si lo supiera ... Si me avisaran ... Por supuesto que sí ... Y así sucesivamente :) Así que ahora, decidí convertirme en la misma persona que contaba, compartía y advertía.
      </p>
      <p>
        Y sí, me encanta enseñar y estoy listo para hacer esto por todos, y especialmente por personas simbolicas de más de 50 años, que solo cubren parte de los gastos administrativos de la escuela.
      </p>
      <p>
        Tengo el conocimiento y un gran equipo, y estamos listos para compartir con ustedes mi experiencia y ayudarlo a dominar la profesión más interesante e independiente del mundo: COMERCIAR. Vale la pena señalar que trabajé en diferentes áreas de
        negocios y entendí personalmente por mí mismo que ninguna de las otras actividades puede proporcionar tanto placer y beneficio como Su Majestad en el Mercado de Valores. Quizás es por eso que todos los comerciantes en el mundo lo respetan. Recomiendo
        a todos mis estudiantes que no tengan miedo, bueno, al menos tratemos de no tener miedo, abra una pequeña cuenta con un agente de confianza y comience a avanzar hacia la libertad en pequeños pasos. Y este es uno de los primeros secretos,
        experiencias, como se quiera llamar, pero la cuenta debe ser realmente pequeña (comience con dos o tres mil dólares) y los pasos son pequeños, este es el comienzo de una ruta exitosa. Le sugiero que deje de ser dependiente de las pensiones y del
        estado y obtenga un cierto nivel de libertad. Todos sabemos muy bien que nadie, excepto nosotros, se encargará de nosotros, especialmente las personas mayores de 50 años, porque para el sistema somos equipos pequeños e innecesarios. Por lo tanto,
        aprenderemos, desarrollaremos el mercado de valores, ¡aprenderemos y lo haremos financieramente!
      </p>
      <p>
        ¡Le agradeceremos que invite a sus conocidos y amigos a unirse a nosotros y ayudarnos a cumplir nuestra misión!
      </p>
      <p>
        ¡Tendrás éxito! Un poco de conocimiento y paciencia! Bien y buena suerte!
      </p>
      <p>
        MERCADOS DE STOCK DE TRABAJO.
      </p>
      <p>
        Hay tres principales bolsas de valores en los Estados Unidos:
      </p>
      <p>
        NYSE - Bolsa de Nueva York NASDAQ - Asociación Nacional de Cotizaciones Automatizadas de Comerciantes de Valores AMEX - Bolsa de Valores de los Estados Unidos
      </p>
      <p>
        NYSE - New York Stock Exchange - la bolsa de valores más antigua y más grande de los Estados Unidos. Se encuentra en Wall Street en la parte baja de Nueva York.
      </p>
      <p>
        NASDAQ es la bolsa de valores de la Asociación Nacional de Comerciantes de Valores. Fundada en 1971. A diferencia de la NYSE, no tiene presencia física. Este es un sistema de comercio electrónico completamente automatizado.
      </p>
      <p>
        AMEX - American Stock Exchange, la tercera bolsa de valores más grande de EE. UU. Fundada en 1921. Representa el 10% del comercio total de acciones en América. Ubicado cerca de la NYSE.
      </p>
      <p>
        En Inglaterra hay una bolsa de valores importante - LSE, Una de las más antiguas del mundo. Fue fundada en 1801 y hoy es la más multinacional del mundo. Más del cincuenta por ciento del comercio de acciones internacional cae en la Bolsa de Valores de
        Londres. Creo que esta plataforma de negociación es una de las más interesantes para el comercio, ya que para algunas herramientas (lo que somos, lo descubriremos más adelante).Intercambio pide solo el 10% de su valor!
      </p>
      <p>
        Para comenzar a operar en NYSE, NASDAQ, AMEX y LSE, además del deseo, necesitará: - para empezar, una computadora, y luego es mejor tener dos o tres computadoras (como en la captura de pantalla 1 a continuación) con un procesador de al menos 1-4 Ghz;
        4 o más núcleos, RAM desde 4 GB. Todo lo anterior puede ser reemplazado por dos o tres computadoras portátiles; - el siguiente punto muy importante - bueno, ininterrumpido (lo más importante aquí es Internet ininterrumpido es nuestro TODO !!!); - Una
        pequeña cuenta de unos 3 mil dólares; - Debes ser mayor de 18 años.
      </p>

      <div style="text-align: center"><img src="{% static "image2.jpg" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        En la bolsa de valores puede comerciar con diferentes instrumentos, incluidas las acciones. Ahora veamos qué es una acción. Una acción es un instrumento financiero único (en general, todo lo que se negocia en las bolsas de valores, futuros, CFD,
        opciones, acciones, bonos, se denomina instrumento financiero). ¿Alguna vez ha pensado en todo lo que está a su alrededor, todo lo que usa con éxito, su cafetera, gasolinera, avión, alquiler de autos, mercado de alimentos, farmacia, etc.? stock Y
        habiendo aprendido a entender cómo funciona, como comerciante, tendrá una oportunidad única de convertirse en copropietario de las acciones de estas corporaciones. Y la oportunidad de recibir un ingreso adicional en línea estable, mientras se
        encuentra en cualquier parte del mundo. Hay dos formas de ganar dinero en el mercado de valores: al negociar para aumentar el precio de las acciones o al negociar para reducirlas. Veamos estas dos formas con más detalle.
      </p>
      <p>
        Negociación: el comerciante primero compra las acciones, con la esperanza de venderlas más tarde por un precio más alto. Cuando un comerciante paga su dinero y compra una acción, dice que tiene una posición larga o larga. Si el comerciante resultó
        ser correcto, entonces el precio de las acciones ha aumentado y ahora cuesta más de lo que pagó el comerciante. En este caso, se dice que esta es una posición en dinero, el comerciante ya está haciendo dinero con él. Sin embargo, en este momento solo
        es dinero virtual. Pueden irse tan fácilmente como vinieron. El comerciante en este momento tiene una posición abierta o abierta. Para recibir dinero real, debe cerrarlo, es decir, Vende todas tus acciones.
      </p>
      <p>
        Las posiciones largas se cierran mediante la venta de acciones. La diferencia entre el precio de compra y el precio de venta es su beneficio.
      </p>
      <p>
        Negociación corta: el comerciante vende acciones primero (que no tiene), con la esperanza de comprarlas más adelante por un precio más bajo.
      </p>
      <p>
        Para vender acciones que no tienes, primero debes pedirlas prestadas a alguien. Por lo general, los operadores toman prestadas acciones de su corredor cuya plataforma de negociación utilizan. Sucede automáticamente.
      </p>
      <p>
        Entonces, tomó prestadas acciones de su corredor y las vendió en la bolsa de valores. En este punto, tienes una posición corta o corta. Debe recordarse que usted tomó prestadas las acciones por un tiempo y está obligado a devolverlas más tarde a su
        corredor. Para hacer esto, necesita en algún momento comprar estas mismas acciones en el mercado. Si tiene razón y el precio de las acciones comienza a caer, puede comprarlo más barato que lo vendido. La diferencia entre el precio de venta y el
        precio de compra es su beneficio. Así, las posiciones cortas se cierran comprando acciones.
      </p>
      <p>
        Esta es toda la información de la primera lección, espero que haya sido interesante y útil para usted. En la próxima lección nos familiarizaremos con uno de los portales de acciones más convenientes - finviz.com
      </p>
      <p>
        Este recurso presenta uno de los filtros más fuertes que se pueden usar para trabajar en el mercado de valores estadounidense, y los estudiaremos. Nos vemos en la próxima lección, aprenderá aún más información comercial interesante y secreta.
      </p>
      <p>
        Como tarea, vamos a organizar una sesión de comentarios: Me dirá sobre usted lo que le parezca adecuado, lo que lo llevó a comerciar, las cualidades que tiene para negociar en su opinión y las cualidades que le faltan. ¿Cuál es el resultado de la
        primera lección que le causa dificultad, no entiende qué preguntas? Sobre todo esto, escribeme un mail: school@abtco.us A su vez, estaré encantado de conocer a todo el grupo, me interesa mucho saber por qué está aquí, cuáles son sus expectativas de
        capacitación, responder a todas sus preguntas, aclarar las dificultades, si las tiene, y estará listo para la segunda lección.
      </p>
      <p>
        Muchas gracias, esperando vuestras cartas. Alex
      </p>

      <br>
      <br>
      <hr>
      <br>
      <br>

      <p>
        Trading para debutantes. Conocimientos básicos. LECCIÓN 2. Información: dónde conseguir y cómo buscar.
      </p>
      <p>
        Hola queridos principiantes, ¡y en el futuro los comerciantes más exitosos! Fue genial recibir comentarios de usted y conocerlo mejor. Resulta que tenemos una empresa muy interesante! Es genial que tengamos tanta gente de diferentes profesiones y
        diferentes temperamentos, e incluso mejor que todos ustedes estén unidos por un interés en el comercio, en nuevas oportunidades y nuevas impresiones. Juntos iremos por este camino y nos beneficiaremos de este curso juntos. Te estoy agradecido por
        venir, aprender, aprender cosas nuevas y no tener miedo de expandir tus horizontes. ¡El camino irá! ¡Empezando!
      </p>
      <p>
        Hoy veremos uno de los recursos más convenientes, simples y gratuitos para monitorear y seleccionar acciones, esto es finviz.com. La información es necesaria para todos, sin ella, somos gatitos ciegos, y Finviz nos ayudará a estar completamente
        armados.
      </p>
      <p>
        Para empezar, te sugiero que escribas en la barra de direcciones de tu navegador (chrome, opera, safari, etc.) - finviz.com y después de descargar esta página, verás un sitio hermoso y brillante.
      </p>
      <p>
        ¿Qué información nos da Finviz? Muy necesario y útil para cualquier operador: índices bursátiles, acciones activas, mapa sectorial, motor de búsqueda (Screener). Qué es, dónde se mira y cómo se usa, ahora lo consideraremos en detalle.
      </p>
      <p>
        Aparecerán tres gráficos independientes en la parte superior de la página: estos son los índices de los intercambios principales. Vimos el tema de los intercambios durante la primera lección. A continuación, debajo de estos gráficos de índice, el
        recurso de Finviz muestra dos columnas de información. La primera columna son aquellos que son geniales en la actualidad (Top Gainers), y la segunda es aquellos que actualmente están administrando mal sus compañías (Top Losers).
      </p>
      <p>
        Nos fijamos en la pantalla número 1:
      </p>
      <div style="text-align: center"><img src="{% static "image1.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        Esta es una información diaria muy importante, ya que muchos comerciantes e inversores ven estas empresas.
      </p>
      <p>
        Todas estas acciones se convierten automáticamente de acciones ordinarias en acciones activas. Dichas acciones obtienen un volumen de ventas completamente diferente para una sesión de negociación, mucho más de lo que normalmente tienen. Y por lo
        tanto, se convierten en el objeto de nuestra observación.
      </p>
      <p>
        Por ejemplo, a continuación, en la pantalla 2, noté para ti la acción activa de NVDA de la segunda columna de Finviz, que se informó el 15 de noviembre de 2018 y luego de un mal informe, se derrumbó a $ 40.
      </p>
      <div style="text-align: center"><img src="{% static "image6.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        Me parece que muchas personas en ese día tuvieron enormes pérdidas monetarias.
      </p>
      <p>
        Observamos a esta compañía desde los primeros días de octubre y, como resultado, pudimos ganar dinero decente en un día. Era el comercio correcto, planificado y exitoso.
      </p>
      <p>
        La mayor parte del dinero que ganan los comerciantes proviene de las existencias activas del día.
      </p>
      <p>
        ¿De dónde provino el pronóstico, de que la participación de NVDA colapsará después del informe, podremos discutir con usted en más detalle durante las próximas lecciones? Y ahora, consideremos más a fondo las posibilidades del recurso de Finviz. Vea
        la pantalla número 3 a continuación.
      </p>
      <div style="text-align: center"><img src="{% static "image5.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        En la esquina inferior derecha de Finviz, se presenta un mapa activo de todos los sectores comerciales del intercambio, en el que encontrará todas las principales empresas de los EE. UU., Y hay unas cuantas: 7530.
      </p>
      <p>
        Este mapa conveniente y dinámico cambia constantemente su color dependiendo de quién está a la cabeza hoy: toros u osos (quiénes son estos "animales" que también consideraremos con usted durante las próximas lecciones).
      </p>
      <p>
        Dado que este es un recurso muy grande, al principio solo intente recorrer el sitio, creo que será interesante para usted tocar y sentir todas estas enormes capitales estadounidenses.
      </p>
      <p>
        Bajo la búsqueda en la esquina izquierda, puedes verlo en la pantalla en el número 4, hay muchos botones útiles:
      </p>
      <div style="text-align: center"><img src="{% static "image8.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        Inicio, Noticias, Detector, Mapas, Grupos, Insider, Futuros, Forex. Veremos en detalle la pestaña Screener. ¿Por qué lo necesitamos?
      </p>
      <p>
        Debido a que es gracias a esta herramienta, seleccionamos acciones para negociar usando un conjunto de filtros.
      </p>
      <p>
        Intentémoslo ahora haciendo clic en el botón Screener.
      </p>

      <p>
        Después de hacer clic, la pestaña se abre con un conjunto mínimo de filtros de búsqueda diferentes.
      </p>
      <p>
        Ahora ve a la pantalla número 5:
      </p>
      <div style="text-align: center"><img src="{% static "image4.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        En la pantalla en el número 5, vemos el conjunto mínimo de filtros necesarios para buscar acciones. Este conjunto nos permite seleccionar acciones para negociar de acuerdo con los siguientes criterios: el país de origen de la empresa, el mercado en
        el que se cotiza, qué hace la empresa, en qué sector se encuentra, precio y volumen.
      </p>
      <p>
        Ahora estamos considerando lo mínimo que se nos ha abierto, de hecho, hay muchos más parámetros para seleccionar y buscar stocks y continuaremos estudiando en la próxima lección.
      </p>
      <p>
        Como tarea, trate de encontrar la sección TODOS, vea qué filtros le ofrece. Deja que tus ojos se acostumbren a la abundancia de esta información.
      </p>
      <p>
        Y luego, durante la siguiente lección, estará listo para comenzar a trabajar con estos filtros avanzados y no perderse en las capacidades de búsqueda.
      </p>
      <p>
        Por hoy, tal vez, todo. Ver, leer, explorar, experimentar. ¡Filtra tu cerebro!
      </p>
      <p>
        Todavía acepto todas tus impresiones, todo lo que quieras compartir en: school@abtco.us
      </p>
      <p></p>

      <br>
      <br>
      <hr>
      <br>
      <br>

      <p>
        Trading para debutantes. Conocimientos básicos. Lección 3. Filtros avanzados - excelentes características.
      </p>
      <p>
        Me alegra ver a todos en nuestra escuela! Hola a todos! Después de la lección anterior hubo muchas preguntas y ¡esto es genial! Miras, analizas, empiezas a entender el mercado, ¡me complace infinitamente! Os agradezco vuestra actividad y diligencia.
        Después de todo, a juzgar por sus cartas y preguntas, está pensando y analizando a las personas muy profundamente, ¡y esta es una buena noticia! Creo que cualquier persona en mi lugar estaría feliz de tener un equipo de estudiantes así. Pero como soy
        yo quien tuvo la suerte de trabajar contigo, ¡continuaremos!
      </p>
      <p>
        Durante esta lección veremos cómo comenzar a trabajar con filtros avanzados para buscar acciones en el recurso - finviz.com
      </p>
      <p>
        Para abrir el conjunto máximo de filtros, deberá encontrar la sección TODOS en la parte superior de la página y hacer clic en ella. Pantalla №1
      </p>
      <div style="text-align: center"><img src="{% static "image9.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        Después de eso, estará disponible para un conjunto completo de todos los filtros necesarios para un comerciante o inversionista. Pantalla №2
      </p>
      <div style="text-align: center"><img src="{% static "image7.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        Antes de comenzar a buscar las existencias necesarias, deberá marcar y activar algunos parámetros de filtro:
      </p>
      <p>
        1. En la columna Índice, seleccione (Índice S & P 500): verá una lista de las compañías más ricas y de "pura sangre" en el mercado. Como regla general, las compañías de esta lista tienen una gran capitalización, una reputación positiva, comercian
        según las reglas del mercado o intentan hacerlo. Además, las compañías S & P 500 tienen una cantidad bastante grande de ventas diarias, así como un buen curso de acción, lo que hace posible que el comerciante gane. Esto es importante (el curso de la
        acción), ya que una acción que está inmóvil o en movimiento unos pocos centavos se considera una "acción muerta" y el comerciante no puede ganar en tal acción. 2. Además, en la sección País (País), observamos a los Estados Unidos, ya que las acciones
        de otros países y otros continentes pueden comportarse de manera inadecuada, por lo que debe tener cuidado con ellos o tener suficiente experiencia. 3. Después de eso, en la columna Precio, seleccionamos el precio de las acciones, le recomiendo que
        mire por encima de $ 10, pero si le interesa ver las acciones de bajo costo, cómo se comportan durante la sesión de negociación, mire, mire y haga sus conclusiones. Estoy seguro de que verás muchas cosas interesantes. 4. Vaya a la sección Pasar el
        precio de las acciones por día - ATR (Rango promedio real): tomamos más de $ 1, esto significa que las acciones pasan más de un dólar de una manera u otra durante la sesión de negociación, lo que hace posible que un comerciante gane buen dinero , lo
        discutimos arriba, ¿recuerdas el curso de la acción? Por lo tanto, elija más de $ 1. 5. Finalmente, vaya a la sección Ventas diarias - Volumen actual - establecido a partir de 2 millones de acciones, porque con un volumen de ventas de acciones
        suficientemente grande, se forma un nivel diario de soporte (soporte) y resistencia (resistencia). Estos dos conceptos más importantes en el comercio, los estudiaremos por separado y muy, muy detallados durante la próxima lección.
      </p>
      <p>
        Después de configurar todos los parámetros anteriores, el sistema le mostrará 100-150 buenas acciones. Al hacer clic en el ticker (nombre abreviado de la compañía) se abrirá una nueva ventana, con un calendario de movimientos de acciones e
        información pública detallada sobre la compañía elegida. Aquí encontrará muchos descubrimientos interesantes, porque la información que es visible para todos, con el análisis correcto, le indicará la dirección del movimiento de las acciones. Les
        mostraré los lugares secretos para mirar, para ver información valiosa que es inaccesible para los no iniciados durante las próximas lecciones. Número de pantalla 3
      </p>
      <div style="text-align: center"><img src="{% static "image3.png" %}" style="margin: 30px; border: 4px solid #F32A2E; border-radius: 10px;"></div>

      <p>
        Esta es toda la información de la tercera lección, espero que todo esté claro para usted y que haya recibido nuevos conocimientos que sean interesantes para usted.
      </p>
      <p>
        Como tarea, le pediré que trabaje con filtros para la selección de acciones, elija la más interesante, en su opinión. Además, le pido que tome capturas de pantalla de dos acciones seleccionadas y describa (explique) cómo le gustaron, por qué se
        detuvo en ellas.
      </p>
      <p>
        Esperando sus respuestas, es muy interesante ver su elección y discutirla con usted. Como antes, estoy esperando la carta a la oficina de correos: School@abtco.us
      </p>
      <p>
        Y aquí tengo dos noticias para usted: aprobamos con éxito las tres primeras lecciones gratuitas, esta es la primera noticia. Si le gusta, está interesado en nuestro curso, desea continuar aprendiendo más y está listo para pagar, ¡existe una gran
        oportunidad! Y esta es la segunda noticia. Puede pagar el curso directamente en esta página, a continuación, utilizando el botón PAGAR. Esperaremos el pago dentro de TRES días después de recibir esta lección. Será fácil y conveniente realizar una
        transacción de pago, todas las tarjetas de pago se aceptan, los pagos son absolutamente seguros, solo tiene que rellenar el formulario y todas las acciones posteriores se realizan automáticamente.
      </p>
      <p>
        Después del pago, continuará accediendo a las lecciones del programa anterior, de acuerdo con el grupo elegido.
      </p>
      <p>
        ¿Qué habrá en el curso de aprendizaje a continuación? Le haré una lista de las tesis que consideraremos para que pueda tener una idea de lo que le espera durante las siguientes lecciones:
      </p>
      <p>
        Las acciones y sus características, lo que se informa y cómo usarlo, futuros, fondos, volúmenes y diferenciales. La fórmula para formar una posición segura o cómo protegerse de las pérdidas. Amigos entre las acciones: ¿por qué deberían ser
        comerciantes y qué hacer con ellos? Aprender a leer un libro de pedidos y una cinta es una de las habilidades más importantes y cómo puede salvar a un comerciante. Los conceptos básicos del comercio: soporte y resistencia, cómo trabajar con ellos.
        Propietarios de empresas: cómo ser amigos con ellos y lo que pueden decirnos. La magia de los números: cómo usarla para tu propio bien. Cómo encontrar la dirección del movimiento de las acciones y quién nos ayudará con esto. Hacemos un pronóstico
        temprano - cómo funciona.
      </p>
      <p>
        Como puede ver, el programa es muy rico y esta no es una lista completa de todo lo que estudiaremos.
      </p>
      <p>
        Algunos puntos simplemente no los expresaré, debido a su secreto y exclusividad.
      </p>
      <p>
        Pero te lo prometo: no será aburrido, ¡no te arrepentirás!
      </p>
      <p>
        Si, por algún motivo, decide no seguir estudiando, simplemente no paga nada, la factura pierde su poder después de tres días y deja de recibir nuestras lecciones. Quiero agradecer a todos por venir a nosotros, pasar su tiempo y tratar de sumergirse
        en el mundo del comercio.
      </p>
      <p>
        Para aquellos que no continúan con nosotros: muchas gracias por intentarlo, estudiar y mostrar interés. Quizás el estilo de presentación no era adecuado para usted, tal vez en esta etapa se dio cuenta de que no está interesado en esta actividad, tal
        vez sus planes hayan cambiado.
      </p>
      <p>
        Estaremos encantados si comparte CUALQUIER impresión con nosotros. Lo que no le gustó fue la posible razón por la que se negó la capacitación. Tal vez necesitamos arreglar algo, rehacerlo.
      </p>
      <p>
        Estaremos muy agradecidos por sus comentarios! Los estamos esperando en el correo: school@abtco.us
      </p>
      <p>
        Para aquellos que se quedan en nuestro equipo:
      </p>
      <p>
        Gracias por continuar aprendiendo y avanzar hacia su meta, estoy seguro de que podemos lograr un resultado decente.
      </p>
      <p>
        Hasta la próxima lección, Alex.
      </p>

    </div>

    <div class="col-1">
      <div style="background-color: #F32A2E; width: 100px; height: 40%"></div>
      <div style="background-color: #F14133; width: 100px; height: 20%"></div>
      <div style="background-color: #ED5C55; width: 100px; height: 20%"></div>
      <div style="background-color: #DF8479; width: 100px; height: 20%"></div>
    </div>
  </div>

  <hr style="color: #DF8479">

  <h2 style="text-align: center;" class="mt-2 mb-5">Para continuar estudiando, por favor, deje una solicitud de cualquier manera conveniente para usted:<br>

    <div class="row col-12">

      <div class="mx-auto mt-4 col-12 col-md-4 btn btn-info" style="background-color: #ED5C55">
        <a href="/contact-us" style="text-decoration: none; color: white;">Continuar estudiando</a>
      </div>
    </div>

    <div class="row col-12">
      <div class="mx-auto mt-2 col-12 col-md-4 btn btn-info" style="background-color: #DF8479">
        <a href="/t" style="text-decoration: none; color: white;">Términos de estudio.</a>
      </div>
    </div>

  </h2>

  <h2 style="text-align: center;" class="mt-2 mb-5">Email para tareas de la casa:
    <strong>
      <a href="mailto:abt.company@aol.com">abt.company@aol.com</a>
    </strong>
  </h2>

  <h3 style="text-align: center;">Nuestro Instagram account:</h3>
  <div class="mt-2" style="line-height: 0; text-align: center">
    <a href="https://www.instagram.com/alex_casa_mentor">
      <h3 style="color: #21309a; text-align: center;" class="mt-3">@Alex_casa_mentor</h3>
    </a>
    <a style="text-align: center;" href="https://www.instagram.com/alex_casa_mentor"><img style="text-align: center; width: 30%;" src="{% static "instagram_alex_casa_mentor.jpg" %}"></a>
  </div>

  <h3 style="margin-top: 40px; text-align: center;">Nuestro Tiktok account:</h3>
  <div class="mt-2" style="line-height: 0; text-align: center">
    <a href="https://www.tiktok.com/@alex_casa_mentor">
      <h3 style="color: #21309a; text-align: center;" class="mt-3">@Alex_casa_mentor</h3>
    </a>

    <h3 style="margin-top: 40px; text-align: center;">Nuestro Telegram account:</h3>
    <div class="mt-2" style="line-height: 0; text-align: center">
      <a href="https://t.me/best_of_the_best_investor">
        <h3 style="color: #21309a; text-align: center;" class="mt-3">@best_of_the_best_investor</h3>
      </a>

    {% endblock %}