{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

  <div class="row col-12 mx-auto">

    <div class="col-12 col-md-6 mx-auto">
      <img src="/static/logo.png" style="width: 100%">
    </div>

    <div class="col-12 mx-auto">
      <h1 class="text-center mt-3" style="font-size: 4rem">4-Organizer</h1>
    </div>

    <div class="mt-5 col-12 mx-auto row">
      <div class="col-12 col-md-6 col-xl mx-auto mt-3">
        <a href="http://www.4organizer.com/main" class="btn btn-success col-12 background-gradient-blue" style="font-size: 1.3rem; color: white; border-radius: 30px; padding: 20px;">Description</a>
      </div>

      <div class="col-12 col-md-6 col-xl mx-auto mt-3">
        <a href="http://www.4organizer.com/pricing" class="btn btn-success col-12 background-gradient-blue" style="font-size: 1.3rem; color: white; border-radius: 30px; padding: 20px;">Pricing</a>
      </div>
      
      <div class="col-12 col-md-6 col-xl mx-auto mt-3">
        <a href="http://www.4organizer.com/screenshots" class="btn btn-success col-12 background-gradient-blue" style="font-size: 1.3rem; color: white; border-radius: 30px; padding: 20px;">Screenshots</a>
      </div>

      <div class="col-12 col-md-6 col-xl mx-auto mt-3">
        <a href="http://www.4organizer.com/support" class="btn btn-success col-12 background-gradient-blue" style="font-size: 1.3rem; color: white; border-radius: 30px; padding: 20px;">Support & FAQ</a>
      </div>

    </div>

  </div>

{% endblock %}